input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
  }
  input:focus {
    border-color: #4CAF50;
  }
.example-card {
    max-width: 350px;
    background-color: rgb(209, 209, 209);
    margin: 2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'Courier New', monospace;
    width: 20%;
}

.example-header-image {
    background-size: cover;
}

.mat-card-header {
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.bold {
    font-weight: bold;
}